<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
</head>

<body>
    <h1>Roll Two Dice</h1>
    <div class="dice">
        <h2>Dice 1</h2>
        <p>Number: {{ dice1 }}</p>
        <img src="{{ url_for('static', filename='images/' ~ dice1 ~ '.jpg') }}" alt="Dice 1" width="100px" height="100px">
    </div>
    <div class="dice">
        <h2>Dice 2</h2>
        <p>Number: {{ dice2 }}</p>
        <img src="{{ url_for('static', filename='images/' ~ dice2 ~ '.jpg') }}" alt="Dice 2" width="100px" height="100px">
    </div>
    <form action="/roll_dice" method="GET">
        <button type="submit">Roll Dice</button>
    </form>
</body>

</html>